//estilos varios
/******************
**estilos varios**
******************/

.img_logo_head{
    width: 18vw;
}

.footer_img{
    width: 1.2vw;
    padding: 0.2vw 0 0 0;
}

.alink{
    padding: 0rem 1rem ;
    text-decoration: none;
    color: whitesmoke;
}